@import './common'

*
  box-sizing border-box
.clearfix:before, .clearfix:after
  display table
  content " "
.clearfix:after
  clear both

html, body, #rootContainer
  height 100%
body
  margin 0
  font-size 14px
  line-height 1.5
  background #e6eaf0
  color #333

.content-wrapper
  padding-top $MAIN_HEADER_HEIGHT
  height 100%
.fix-height
  height 100%
.font12
  font-size 12px
.gray
  color #666
.tac
  text-align center
.tar
  text-align right
.pull-right
  float right
.pull-left
  float left
.mleft5
  margin-left 5px
.mleft10
  margin-left 10px
.mright5
  margin-right 5px
.mright10
  margin-right 10px
.mtop10
  margin-top 10px

@import './widget'
@import './login-register'
