@import './main-header'
@import './main-nav'
@import './influxdb'

.home-wrapper
  h3
    text-indent 1em
    font-size 16px
    margin 10px 0 0 0
  .items
    margin 0 8px
    .item
      margin 8px
      background-color #fff
      border 1px solid $COLOR_GRAY
      border-radius 3px
      height 200px
      position relative
      h4
        margin 0
        line-height 32px
        font-size 14px
        text-indent 1em
        font-weight normal
        border-bottom 1px solid $COLOR_GRAY
        background-color $COLOR_WHITE
      p
        font-size 13px
        color $COLOR_LIGHT_BLACK
        margin 20px
      .updatedAt
        position absolute
        right 0
        bottom 0
        background-color $COLOR_WHITE
        padding 1px 5px
        border-top 1px solid $COLOR_GRAY
        border-left 1px solid $COLOR_GRAY
        border-radius top left 3px
        