@import 'nib'
@import './constant'
.influxdbDashboardEditor
  position absolute
  top $HEADER_HEIGHT
  left $NAV_WIDTH
  bottom 0
  right 0
  padding 10px 10px 10px
  input, .pure-button
    width 100%
    
  table
    width 100%
    background-color #fff
    .fa
      width 10px
      margin-right 3px
    a
      padding 0 5px