@import './common'

.influxdb-servers-wrapper
  margin 20px
  table
    width 100%
    .op
      a
        display inline-block
        width 20px
        text-align center
.server-status-wrapper
  .server-status
    border-bottom 1px solid $COLOR_GRAY
    padding 15px
    margin-bottom 15px
    h3
      line-height 2
      margin 0
    table
      width 100%
  .dbs
    margin 0
    padding 0
    list-style none
    li
      display inline-block
      background-color $COLOR_INDIGO
      margin 0 10px 10px 0
      padding 3px 15px
      border-radius 3px
      &.active
        background-color $COLOR_BLUE
      a
        color #fff
  .measurements
    margin 0
    padding 0
    list-style 0
    li
      display inline-block
      margin-right 10px
      padding 3px 15px
  .keys-wrapper:nth-child(5n)
    .keys
      margin-right 0
  .keys
    margin 0 10px 10px 0
    h4
      margin 0
      line-height 2em
      text-indent 1em
      background-color $COLOR_GRAY
    ul
      margin-left 30px
      padding 0
      li
        span
          color $COLOR_BLUE
          margin-left 3px
.add-influx-wrapper
  .config-wrapper
    $configWrapperWidth = 300px
    width $configWrapperWidth
    padding 20px 30px 20px 10px
    position fixed
    left 0
    bottom 0
    top $MAIN_HEADER_HEIGHT + 1
    overflow-scrolling touch
    background-color $COLOR_DARK
    color $COLOR_GRAY
    overflow-y auto
    h4
      margin 10px 0
    h5
      margin 8px 0
    .dropdown-selector
      margin-bottom 15px
      width 100%
    .co-dropdown-selector-wrapper
      position relative
      &:hover
        .remove-condition
          display block
      .remove-condition
        position absolute
        left 100%
        padding-left 5px
        margin-left -1px
        display none
        a
          display block
          border 1px solid $COLOR_GRAY
          height 25px
          width 25px
          letter-spacing normal
          background-color #fff
          border-radius 3px
          text-align center
          line-height 24px
          color #999
          font-size 12px
          margin-top 3px
          &:hover
            color #666
    .co-dropdown-selector
      position relative
      &:hover
        .remove-condition
          display block
      .dropdown-selector
        width 100%
      .remove-condition
        position absolute
        left 100%
        padding-left 5px
        margin-left -1px
        display none
        a
          display block
          border 1px solid $COLOR_GRAY
          height 25px
          width 25px
          letter-spacing normal
          background-color #fff
          border-radius 3px
          text-align center
          line-height 24px
          color #999
          font-size 12px
          margin-top 3px
          &:hover
            color #666
      .equal
        position absolute
        left 50%
        letter-spacing normal
        margin-left -3px
        margin-top 4px
      
    