.influxdbServerEditor
  .dialog
    width 600px
    margin-top -240px
    .content
      padding 10px 30px
  form
    .formItem
      margin 10px 5px
    label, input[type='text']
      display block
      width 100%
    .submit
      display block
      color #fff
      margin 10px 5px