@import './constant'
.influxdbVisualizationEditor
  margin 10px 0 0 $NAV_WIDTH + 10
  $showServerSelectorWidth = 50px
  position relative
  .pure-button
    background-color #f0f0f0
    border 1px solid $GRAY_BORDER_COLOR
    border-radius 3px
  .showServerSelector
    width $showServerSelectorWidth
  .influxQl
    margin-left $showServerSelectorWidth + 10
    margin-right 100px
  .basicSelector
    position absolute
    border 1px solid $GRAY_BORDER_COLOR
    border-radius 3px
    padding 0 10px
    z-index 2
    width 150px
    background-color $BG_COLOR
    .influxdbSelector
      margin-bottom 10px
  .filterSelector
    margin-right 10px
    border 1px solid $GRAY_BORDER_COLOR
    padding 10px
    border-radius 3px
    .influxdbSelector
      margin-bottom 10px
  .tagSelector
    $itemWidth = 30px
    .equal, .toggle
      width $itemWidth
      text-align center
      line-height 36px
      display block
    .influxdbSelector
      margin-right $itemWidth
  .seriesTable
    table
      width 100%
      background-color #fff