@import 'nib'
@import './constant'
.visualizationViewContainer
  position absolute
  top $HEADER_HEIGHT
  left $NAV_WIDTH
  bottom 0
  right 0
  padding 0 10px 10px
  .visualizationView
    .statsViewSelector
      display none
    &:hover
      .statsViewSelector
        display block
  .Select-menu-outer
    z-index 2
  .autoRefreshSelector, .offsetTimeSelector
    display inline-block
    margin-right 10px
  .autoRefreshSelector
    width 220px
  .offsetTimeSelector
    width 150px
    margin-right 0