@import './common'

.influx-configs-wrapper, .influxdb-servers-wrapper, .influxdb-dashboards-wrapper
  padding 15px 0
  .op
    a
      margin 0 5px

.influx-dashboard-visualizations-wrapper
  .full-screen
    position fixed
    left 0
    top 0
    right 0
    bottom 0
    z-index 9
    background-color rgba(0, 0, 0, 0.4)
    .influx-visualization-view
      margin 0
  .interval-selector, .time-selector
    width 180px
    display inline-block
    margin 0 5px
  .influx-visualization-view
    .table
      thead
        border-top none
    .influx-visualization
      margin 0
  .date-time-range-picker
    position absolute
    right 10px

.server-status-wrapper
  .server-status
    border-bottom 1px solid $COLOR_GRAY
    padding 15px
    margin-bottom 15px
    .column-wrapper
      float left
      width 20%
    h3
      line-height 2
      margin 0
    table
      a
        margin 0 5px
  .dbs
    margin 0
    padding 0
    list-style none
    li
      margin 0 10px 10px 0
      a
        color #fff
  .measurements
    margin 0
    padding 0
    list-style 0
    li
      display inline-block
      margin-right 10px
      padding 3px 15px
  .columns
    .column
      margin 8px
.add-influx-wrapper
  display flex
  .config-wrapper
    flex 1
  .influx-content-wrapper
    flex 4
  .influx-ql-wrapper
    background-color #fff
    padding 10px
    border-bottom 1px solid $COLOR_LIGHT_GRAY
    .ql-input
      margin 0 85px 0 70px
    input
      width 100%
      line-height 18px
  .config-wrapper
    padding 0 30px 20px 10px
    overflow-scrolling touch
    background-color $COLOR_DARK
    color $COLOR_GRAY
    min-height 100%
    border-left 1px solid $COLOR_WHITE
    h4
      color $COLOR_GRAY
      margin 0
      padding 10px 0
    h5
      color $COLOR_GRAY
      margn 0
      padding 8px 0
    .visualization-name
      width 100%
      color $COLOR_LIGHT_BLACK
    .co-dropdown-selector-wrapper
      position relative
      &:hover
        .remove-condition
          display block
      .remove-condition
        position absolute
        left 100%
        padding-left 5px
        margin-left -1px
        display none
        a
          display block
          border 1px solid $COLOR_GRAY
          height 25px
          width 25px
          letter-spacing normal
          background-color #fff
          border-radius 3px
          text-align center
          line-height 24px
          color #999
          font-size 12px
          margin-top 3px
          &:hover
            color #666
    .other-options-wrapper
      .column-1-2
        margin-bottom 10px
        &:nth-child(2n + 1) > div
          margin-right 7px
        &:nth-child(2n) > div
          margin-left 7px
  .date-time-range-picker
    top -280px
    position absolute
      
.influx-dashboard-view
  margin 15px 0
  td 
    a.disabled
      color $COLOR_GRAY
    .pt-icon-standard
      margin 0 5px
      width 18px
  .save-wrapper, .desc-wrapper
    margin 15px
    .pt-input-group
      flex 1
    .save
      width 100px