@import './constant'
.influxdbVisualizationEditor
  margin 10px 10px 0 $NAV_WIDTH + 10
  $showServerSelectorWidth = 50px
  $timeSelectorWidth = 150px
  .pure-button
    background-color #f0f0f0
    border 1px solid $GRAY_BORDER_COLOR
    border-radius 3px
  .showServerSelector
    line-height 20px
    width $showServerSelectorWidth
  .timeSelectorContainer
    width $timeSelectorWidth
  .influxQl
    margin-left $showServerSelectorWidth + 10
    margin-right $timeSelectorWidth + 10
  
  .basicSelector
    position absolute
    border 1px solid $GRAY_BORDER_COLOR
    border-radius 3px
    padding 0 10px
    z-index 2
    width 150px
    background-color $BG_COLOR
    .influxdbSelector
      margin-bottom 10px
  .filterSelector, .datePickerSelector, .extractSelector, .groupBySelector
    margin-right 10px
    border 1px solid $GRAY_BORDER_COLOR
    padding 10px
    border-radius 3px
  .filterSelector
    .influxdbSelector
      margin-bottom 10px
  .datePickerSelector
    margin-right 0
    .dateTimePicker
      margin auto
  .groupByContainer
    position relative
    .groupBySelector
      position absolute
      z-index 1
      right -3px
      top 20px
      width 200px
      background-color $BG_COLOR
      padding-bottom 0
      margin-right 0
      .parallelSelector
        width 100%
  .seriesTableContainer
    margin-top 10px
    overflow auto
    .seriesTable
      margin-bottom 10px
      table
        width 100%
        background-color #fff
        th .fa
          width 10px
          margin-left 3px