@import './common'

.influx-configs-wrapper, .influxdb-servers-wrapper, .influxdb-dashboards-wrapper
  padding 15px 0
  .op
    a
      margin 0 5px

.influx-dashboard-visualizations-wrapper
  .full-screen
    position fixed
    left 0
    top 0
    right 0
    bottom 0
    z-index 9
    background-color rgba(0, 0, 0, 0.4)
    
  .interval-selector, .time-selector
    width 180px
    display inline-block
    margin 0 5px
  .influx-visualization-wrapper
    margin 0
  .visualization-wrapper
    margin 8px
    background-color #fff
    border 1px solid $COLOR_GRAY
    border-radius 3px
    h3
      margin 0
      line-height 32px
      font-size 14px
      text-indent 1em
      font-weight normal
      border-bottom 1px solid $COLOR_GRAY
      color $COLOR_LIGHT_BLACK
      background-color $COLOR_WHITE
      a
        text-indent 0
        padding 0 7px
        color $COLOR_LIGHT_BLACK
        &:hover
          color $COLOR_BLUE
        .pt-icon-standard
          font-size 12px
    .table
      thead
        border-top none

.server-status-wrapper
  .server-status
    border-bottom 1px solid $COLOR_GRAY
    padding 15px
    margin-bottom 15px
    h3
      line-height 2
      margin 0
    table
      width 100%
      a
        margin 0 5px
  .dbs
    margin 0
    padding 0
    list-style none
    li
      margin 0 10px 10px 0
      a
        color #fff
  .measurements
    margin 0
    padding 0
    list-style 0
    li
      display inline-block
      margin-right 10px
      padding 3px 15px
  .columns
    .column
      margin 8px
.add-influx-wrapper
  margin-left -($MAIN_NAV_WIDTH)
  .influx-ql-wrapper
    background-color #fff
    padding 10px
    border-bottom 1px solid $COLOR_LIGHT_GRAY
    .ql-input
      margin 0 85px 0 70px
    input
      width 100%
      line-height 18px
  .influx-content-wrapper
    position relative
    .chart-wrapper
      margin 15px
      height 520px
      svg
        height 100%
    .chart-config-wrapper
      margin 15px
  .config-wrapper
    padding 0 30px 20px 10px
    overflow-scrolling touch
    background-color $COLOR_DARK
    color $COLOR_GRAY
    min-height 100%
    h4
      color $COLOR_GRAY
      margin 0
      padding 10px 0
    h5
      color $COLOR_GRAY
      margn 0
      padding 8px 0
    .visualization-name
      width 100%
      color $COLOR_LIGHT_BLACK
    .co-dropdown-selector-wrapper
      position relative
      &:hover
        .remove-condition
          display block
      .remove-condition
        position absolute
        left 100%
        padding-left 5px
        margin-left -1px
        display none
        a
          display block
          border 1px solid $COLOR_GRAY
          height 25px
          width 25px
          letter-spacing normal
          background-color #fff
          border-radius 3px
          text-align center
          line-height 24px
          color #999
          font-size 12px
          margin-top 3px
          &:hover
            color #666
    .co-dropdown-selector
      position relative
      &:hover
        .remove-condition
          display block
      .dropdown-selector
        width 100%
      .remove-condition
        position absolute
        left 100%
        padding-left 5px
        margin-left -1px
        display none
        a
          display block
          border 1px solid $COLOR_GRAY
          height 25px
          width 25px
          letter-spacing normal
          background-color #fff
          border-radius 3px
          text-align center
          line-height 24px
          color #999
          font-size 12px
          margin-top 3px
          &:hover
            color #666
      .relation
        position absolute
        left 50%
        letter-spacing normal
        margin-left -3px
        margin-top 4px
  .table-wrapper
    .table th .pt-icon-standard
      margin-left 5px
      width 18px
  .date-picker-wrapper
    width 230px
    position absolute
    top -285px
    .cancel, .confirm
      position absolute
      bottom 12px
      color $COLOR_LIGHT_BLACK
      &:hover
        color $COLOR_BLUE
    .cancel
      left 17px
    .confirm
      right 17px
    

.influx-visualization-wrapper
  margin 15px 0
  .chart-wrapper
    margin-bottom 15px
  .table-wrapper
    .table th .pt-icon-standard
      margin-left 5px
      width 18px
      
.influx-dashboard-wrapper
  margin 15px 0
  td .pt-icon-standard
    margin 0 5px
    width 18px
  .save-wrapper, .desc-wrapper
    margin 15px
    .pt-input-group
      flex 1
    .save
      width 100px