@import 'nib'
@import './constant'
.influxdbVisualizationList
  margin 10px 0 0 $NAV_WIDTH + 10
  $visualizationHeight = 200px
  .add
    line-height $visualizationHeight
    text-align center
    font-size 18px
    display block