@import './constant'
.influxdbVisualizationEditor
  margin 10px 0 0 $NAV_WIDTH + 10
  line-height 24px
  $showServerSelectorWidth = 80px
  .pure-button
    background-color #f0f0f0
    border 1px solid $GRAY_BORDER_COLOR
    border-radius 3px
  .showServerSelector
    width $showServerSelectorWidth
  .influxQl
    margin-left $showServerSelectorWidth + 10
  .influxdbServerSelector
    width 150px
    