@import 'nib'
@import './constant'
.dashboardViewContainer
  margin 10px 0 0 $NAV_WIDTH + 10
  .visualizationView
    &:hover
      .statsViewSelector
        display block
    .statsViewSelector
      display none
      width 440px
  .Select-menu-outer
    z-index 2
  .autoRefreshSelector, .offsetTimeSelector
    display inline-block
    margin-right 10px
  .autoRefreshSelector
    width 220px
  .offsetTimeSelector
    width 150px
    margin-right 0
    