@import './constant'
.influxdbVisualizationList
  margin 10px 0 0 $NAV_WIDTH + 10
  $visualizationHeight = 200px
  .visualization
    height $visualizationHeight
    margin 15px
    border 1px solid $GRAY_BORDER_COLOR
    border-radius 5px
    background-color #fdfdfd
    cursor pointer
    position relative
    .title
      line-height 24px
      text-indent 5px
      background-color #f0f0f0
      border-bottom 1px solid $GRAY_BORDER_COLOR
    p
      margin 10px
    .author
      position absolute
      right 0
      bottom 0
      background-color #f0f0f0
      padding 3px
      border-left 1px solid $GRAY_BORDER_COLOR
      border-top 1px solid $GRAY_BORDER_COLOR
  .addVisualization
    line-height $visualizationHeight
    text-align center
    font-size 18px
    display block