.login-register-container
  width 340px
  margin auto
  h3
    font-size 24px
    line-height 2em
    font-weight 300
    letter-spacing -0.5px
  // .flash
  //   margin-bottom 10px
  fieldset
    padding 20px
    background-color #fff
    border 1px solid #d8dee2
    border-radius 3px
    input
      width 100%
      margin 10px 0
  input[type=submit]
    line-height 32px
  .create-account
    display block
    text-align right
    margin-top 10px