@import './common'

.main-header
  $paddingValue = 10px
  padding $paddingValue 20px
  background-color #fefefe
  height $MAIN_HEADER_HEIGHT
  line-height $MAIN_HEADER_HEIGHT - 2 * $paddingValue
  position fixed
  left 0
  right 0
  top 0
  z-index 9
  $logoWrapperWidth = $MAIN_NAV_WIDTH
  $logoFontSize = 18px
  .logo-wrapper
    position absolute
    left 0
    top 0
    bottom 0
    width $logoWrapperWidth
    background-color $COLOR_DARK
    color #fff
    font-size $logoFontSize
    line-height $MAIN_HEADER_HEIGHT
    text-decoration none
    text-indent 1em
  .logo-bar
    position absolute
    left $logoFontSize
    width ($logoWrapperWidth / 3)
    top 0
    height 3px
    background-color $COLOR_BLUE
  .show-nav
    position absolute
    height 100%
    top 0
    bottom 0
    padding 0 7px
    left $logoWrapperWidth - 30
    line-height $MAIN_HEADER_HEIGHT
    color #fff
    display none
  .user-infos
    .fa
      width 14px
      margin-right 3px
    .functions
      .pt-button
        margin-left 10px
    > ul
      margin 0
      padding 0
      > li
        display inline-block
        list-style none
    .account
      position relative
      .functions
        width 160px
        line-height 1.5