@import './common'

.main-nav
  position fixed
  top $MAIN_HEADER_HEIGHT
  left 0
  width $MAIN_NAV_WIDTH
  bottom 0
  background-color $COLOR_DARK
  overflow-y auto
  ul
    margin 0
    padding 0
    list-style 0
  .navigation
    color #aaa
    min-height 300px
    li
      position relative
      ul
        display none
      .selected
        position absolute
        right 0
        top 50%
        margin-top -8px
        color #fff
      a
        color #aaa
        text-decoration none
        padding 8px 10px
        display block
        &:hover
          background-color $COLOR_BLUE
    > li.active
      border-left 2px solid $COLOR_BLUE
      background-color #222933
      ul
        display block
      a
        color #fff
    ul a
      padding-left 18px