@import './common'

.main-header
  $paddingTop = 10px
  padding $paddingTop 20px
  background-color #fff
  border-bottom 1px solid $COLOR_LIGHT_GRAY
  height $MAIN_HEADER_HEIGHT
  line-height $MAIN_HEADER_HEIGHT - 2 * $paddingTop
  position fixed
  left 0
  right 0
  top 0
  z-index 9
  .user-infos
    .fa
      width 14px
      margin-right 3px
    .functions
      .pt-button
        margin-left 10px
    > ul
      margin 0
      padding 0
      > li
        display inline-block
        list-style none
    .account
      position relative
      .functions
        width 160px
        line-height 1.5