@import './common'

.main-nav
  position fixed
  top $MAIN_HEADER_HEIGHT
  left 0
  width $MAIN_NAV_WIDTH
  bottom 0
  background-color $COLOR_DARK
  overflow-y auto
  z-index 1
  @media only screen and (max-width: $SCREEN_SMALL)
    display none
  $minimizeSize = 25px
  &.minimize
    width $MAIN_NAV_MIN_WIDHT
    overflow hidden
    .navigation
      a
        white-space nowrap
        .pt-icon-standard
          margin-right 15px
          margin-left -2px
  .toggle-nav
    background-color #4a5064
    display block
    line-height $minimizeSize
    color $COLOR_GRAY
    @media only screen and (max-width: $SCREEN_SMALL)
      display none
    &:hover
      color $COLOR_WHITE
    .pt-icon-standard
      font-size 12px
  ul
    margin 0
    padding 0
    list-style 0
  .navigation
    color #aaa
    min-height 300px
    li
      position relative
      ul
        display none
      .selected
        position absolute
        right 0
        top 50%
        margin-top -8px
        color #fff
      a
        color #aaa
        text-decoration none
        padding 8px 15px
        display block
        &:hover
          color $COLOR_WHITE
          background-color $COLOR_BLUE
    > li.active
      border-left 2px solid $COLOR_BLUE
      background-color #222933
      ul
        display block
      a
        color #fff
    ul a
      padding-left 18px
