@import './common'

.main-header
  $paddingTop = 10px
  padding $paddingTop 20px
  background-color #fff
  border-bottom 1px solid $COLOR_LIGHT_GRAY
  height $MAIN_HEADER_HEIGHT
  line-height $MAIN_HEADER_HEIGHT - 2 * $paddingTop
  .user-infos
    .fa
      width 14px
      margin-right 3px
    .functions
      .pure-button
        margin-left 10px
        line-height 18px
    ul
      margin 0
      padding 0
      li
        display inline-block
        list-style none
    .account
      position relative
      .dropdown
        width 160px
        margin-top 5px
        line-height 1.5