// 屏幕尺寸 360*640 1366*768 1920*1080 375*667 1280*800

@media only screen and (max-width : 1000px)
  .influx-dashboard-visualizations-wrapper
    .column-1-5, .column-1-4, .column-1-3
      width 50%
    .column-3-5, .column-3-4, .column-4-5
      width 100%

@media only screen and (max-width: 640px)
  .influx-dashboard-visualizations-wrapper
    .column-1-5, .column-1-4, .column-1-3, .column-1-2
      width 100%
