// 屏幕尺寸 360*640 1366*768 1920*1080 375*667 1280*800

@media only screen and (max-width : 1200px)
  .add-influx-wrapper
    display flex
    .config-wrapper
      flex 1
    .influx-content-wrapper
      flex 2
  
  .server-status-wrapper .server-status .column-wrapper
    width 33.3333%

@media only screen and (max-width : 1000px)
  .home-wrapper .columns .cloumn-wrapper
    width 33.3333%
  .setting-wrapper .setting
    width 50%
    &:nth-child(2n)
      padding-right 0
  .server-status-wrapper .server-status .column-wrapper
    width 50%
  .influx-dashboard-visualizations-wrapper
    .column-1-5, .column-1-4, .column-1-3
      width 50%
    .column-3-5, .column-3-4, .column-4-5
      width 100%

@media only screen and (max-width : 800px)
  .add-influx-wrapper
    display block

@media only screen and (max-width: 640px)
  .main-header .show-nav
    display block
  .main-nav
    display none
    .toggle-nav
      display none
  .content-wrapper
    margin-left 0
  .cloumn-wrapper
    width 50%
  .server-status-wrapper .server-status .column-wrapper
    width 100%
  .influx-dashboard-visualizations-wrapper
    .column-1-5, .column-1-4, .column-1-3, .column-1-2
      width 100%

@media only screen and (max-width: 480px)
  .home-wrapper .columns .cloumn-wrapper
    width 100%
  .setting-wrapper .setting
    width 100%
    padding-right 0