@import 'nib'
@import './constant'
.notifyCenterContainer
  position fixed
  right 0
  bottom 0
  width 200px
  border 1px solid $GRAY_BORDER_COLOR
  border-radius 3px
  &.minimize
    .content
      display none
    .title
      .min
        display none
      .normal
        display block
  .fa
    width 25px
    padding 0 5px
  .title
    padding-left 10px
    background-color #f0f0f0
    border-bottom 1px solid $GRAY_BORDER_COLOR
    .normal
      display none
  .content
    margin 0
    padding 0
    list-style none
    line-height 24px
    background-color #fff
    li
      border-bottom 1px solid $GRAY_BORDER_COLOR
      &:last-child
        border-bottom none
      &.messageWarn
        color #f37b1d
      &.messageInfo
        color #5eb95e
