@charset "UTF-8";

.bp-table-editing-enabled .bp-table-cell {
  cursor: text; }

.bp-table-selection-enabled .bp-table-cell {
  cursor: cell; }

.bp-table-cell,
.bt-table-row-header-cell {
  display: inline-block;
  height: 20px;
  padding: 0 10px;
  line-height: 20px;
  font-size: 12px; }
  .pt-dark .bp-table-cell:not([class*="pt-intent-"]), .pt-dark
  .bt-table-row-header-cell:not([class*="pt-intent-"]) {
    color: #f5f8fa; }
  .bp-table-cell.pt-intent-primary,
  .bt-table-row-header-cell.pt-intent-primary {
    background-color: rgba(19, 124, 189, 0.1);
    color: #137cbd; }
  .pt-dark .bp-table-cell.pt-intent-primary, .pt-dark
  .bt-table-row-header-cell.pt-intent-primary {
    background: rgba(19, 124, 189, 0.1);
    color: #2b95d6; }
  .bp-table-cell.pt-intent-success,
  .bt-table-row-header-cell.pt-intent-success {
    background-color: rgba(15, 153, 96, 0.1);
    color: #0f9960; }
  .pt-dark .bp-table-cell.pt-intent-success, .pt-dark
  .bt-table-row-header-cell.pt-intent-success {
    background: rgba(15, 153, 96, 0.1);
    color: #15b371; }
  .bp-table-cell.pt-intent-warning,
  .bt-table-row-header-cell.pt-intent-warning {
    background-color: rgba(217, 130, 43, 0.1);
    color: #d9822b; }
  .pt-dark .bp-table-cell.pt-intent-warning, .pt-dark
  .bt-table-row-header-cell.pt-intent-warning {
    background: rgba(217, 130, 43, 0.1);
    color: #f29d49; }
  .bp-table-cell.pt-intent-danger,
  .bt-table-row-header-cell.pt-intent-danger {
    background-color: rgba(219, 55, 55, 0.1);
    color: #db3737; }
  .pt-dark .bp-table-cell.pt-intent-danger, .pt-dark
  .bt-table-row-header-cell.pt-intent-danger {
    background: rgba(219, 55, 55, 0.1);
    color: #f55656; }
  .bp-table-cell.pt-large,
  .pt-large .bp-table-cell,
  .bt-table-row-header-cell.pt-large,
  .pt-large
  .bt-table-row-header-cell {
    height: 30px;
    line-height: 30px;
    font-size: 14px; }

.bp-table-striped .bp-table-cell-ledger-even {
  background-color: #ffffff; }

.bp-table-striped .bp-table-cell-ledger-odd {
  background-color: #fafcfd; }

.pt-dark .bp-table-striped .bp-table-cell-ledger-even {
  background-color: #293742; }

.pt-dark .bp-table-striped .bp-table-cell-ledger-odd {
  background-color: #2d3c48; }

.bp-table-editable-name input {
  height: 20px; }

.bp-table-null {
  color: rgba(92, 112, 128, 0.5); }

.bp-table-truncated-value {
  position: absolute;
  top: 0;
  right: 35px;
  bottom: 0;
  left: 10px;
  overflow: hidden; }

.bp-table-truncated-popover-target {
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  opacity: 0.3;
  border-radius: 3px;
  cursor: pointer;
  padding: 0 5px;
  text-align: center; }
  .bp-table-truncated-popover-target .pt-icon-standard {
    line-height: 20px; }
  .bp-table-truncated-popover-target.pt-popover-open {
    opacity: 1; }
    .bp-table-truncated-popover-target.pt-popover-open .pt-icon-standard {
      color: #137cbd; }
  .bp-table-truncated-popover-target:hover {
    opacity: 1; }

.bp-table-truncated-popover {
  min-width: 200px;
  max-width: 600px;
  max-height: 300px;
  overflow: scroll;
  padding: 10px 10px;
  font-family: monospace; }

.bp-table-popover-whitespace-pre {
  white-space: pre; }

.bp-table-popover-whitespace-normal {
  white-space: normal; }

.bp-table-container {
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.15); }

.bp-table-top-container {
  box-shadow: 0 1px 0 0 rgba(16, 22, 26, 0.15); }

.bp-table-menu {
  box-shadow: 1px 0 0 rgba(16, 22, 26, 0.15); }

.bp-table-header {
  box-shadow: 0 1px 0 rgba(16, 22, 26, 0.15); }

.bp-table-column-headers {
  box-shadow: 0 1px 0 0 rgba(16, 22, 26, 0.15); }

.bp-table-row-headers {
  box-shadow: 1px 0 0 rgba(16, 22, 26, 0.15), inset 0 1px 0 rgba(16, 22, 26, 0.15); }

.bp-table-cell {
  box-shadow: inset -1px 0 0 rgba(16, 22, 26, 0.15), inset 0 -1px 0 rgba(16, 22, 26, 0.15); }

.bp-table-horizontal-cell-divider {
  box-shadow: inset 0 1px 0 rgba(16, 22, 26, 0.15);
  height: 1px; }

.bp-table-column-headers .bp-table-header {
  box-shadow: inset -1px 0 0 rgba(16, 22, 26, 0.15); }
  .bp-table-column-headers .bp-table-header::before {
    right: 1px;
    bottom: 0; }
  .bp-table-column-headers .bp-table-header.bp-table-last-in-row {
    box-shadow: 1px 0 0 rgba(16, 22, 26, 0.15); }
    .bp-table-column-headers .bp-table-header.bp-table-last-in-row::before {
      right: 0; }

.bp-table-row-headers .bp-table-header {
  box-shadow: inset 0 -1px 0 rgba(16, 22, 26, 0.15); }
  .bp-table-row-headers .bp-table-header::before {
    right: 0;
    bottom: 1px; }
  .bp-table-row-headers .bp-table-header.bp-table-last-in-column {
    box-shadow: 0 1px 0 rgba(16, 22, 26, 0.15); }
    .bp-table-row-headers .bp-table-header.bp-table-last-in-column::before {
      bottom: 0; }

.bp-table-body .bp-table-last-in-row {
  box-shadow: inset 0 -1px 0 rgba(16, 22, 26, 0.15), 1px 0 0 rgba(16, 22, 26, 0.15); }

.bp-table-body .bp-table-last-in-column {
  box-shadow: inset -1px 0 0 rgba(16, 22, 26, 0.15), 0 1px 0 rgba(16, 22, 26, 0.15); }

.bp-table-body .bp-table-last-in-row.bp-table-last-in-column {
  box-shadow: 1px 0 0 rgba(16, 22, 26, 0.15), 0 1px 0 rgba(16, 22, 26, 0.15); }

.pt-dark .bp-table-container {
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.4); }

.pt-dark .bp-table-top-container {
  box-shadow: 0 1px 0 0 rgba(16, 22, 26, 0.4); }

.pt-dark .bp-table-menu {
  box-shadow: 1px 0 0 rgba(16, 22, 26, 0.4); }

.pt-dark .bp-table-header {
  box-shadow: 0 1px 0 rgba(16, 22, 26, 0.4); }

.pt-dark .bp-table-column-headers {
  box-shadow: 0 1px 0 0 rgba(16, 22, 26, 0.4); }

.pt-dark .bp-table-row-headers {
  box-shadow: 1px 0 0 rgba(16, 22, 26, 0.4), inset 0 1px 0 rgba(16, 22, 26, 0.4); }

.pt-dark .bp-table-cell {
  box-shadow: inset -1px 0 0 rgba(16, 22, 26, 0.4), inset 0 -1px 0 rgba(16, 22, 26, 0.4); }

.pt-dark .bp-table-horizontal-cell-divider {
  box-shadow: inset 0 1px 0 rgba(16, 22, 26, 0.4);
  height: 1px; }

.pt-dark .bp-table-column-headers .bp-table-header {
  box-shadow: inset -1px 0 0 rgba(16, 22, 26, 0.4); }
  .pt-dark .bp-table-column-headers .bp-table-header::before {
    right: 1px;
    bottom: 0; }
  .pt-dark .bp-table-column-headers .bp-table-header.bp-table-last-in-row {
    box-shadow: 1px 0 0 rgba(16, 22, 26, 0.4); }
    .pt-dark .bp-table-column-headers .bp-table-header.bp-table-last-in-row::before {
      right: 0; }

.pt-dark .bp-table-row-headers .bp-table-header {
  box-shadow: inset 0 -1px 0 rgba(16, 22, 26, 0.4); }
  .pt-dark .bp-table-row-headers .bp-table-header::before {
    right: 0;
    bottom: 1px; }
  .pt-dark .bp-table-row-headers .bp-table-header.bp-table-last-in-column {
    box-shadow: 0 1px 0 rgba(16, 22, 26, 0.4); }
    .pt-dark .bp-table-row-headers .bp-table-header.bp-table-last-in-column::before {
      bottom: 0; }

.pt-dark .bp-table-body .bp-table-last-in-row {
  box-shadow: inset 0 -1px 0 rgba(16, 22, 26, 0.4), 1px 0 0 rgba(16, 22, 26, 0.4); }

.pt-dark .bp-table-body .bp-table-last-in-column {
  box-shadow: inset -1px 0 0 rgba(16, 22, 26, 0.4), 0 1px 0 rgba(16, 22, 26, 0.4); }

.pt-dark .bp-table-body .bp-table-last-in-row.bp-table-last-in-column {
  box-shadow: 1px 0 0 rgba(16, 22, 26, 0.4), 0 1px 0 rgba(16, 22, 26, 0.4); }

.bp-table-header {
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  position: relative;
  text-overflow: ellipsis;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .bp-table-header::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: ""; }
  .bp-table-header .bp-table-row-name,
  .bp-table-header .bp-table-column-name,
  .bp-table-header .bp-table-header-content {
    position: relative; }
  .bp-table-selection-enabled .bp-table-header:hover::before, .bp-table-header.bp-table-header-active::before {
    background-color: #e1e8ed; }
    .pt-dark .bp-table-selection-enabled .bp-table-header:hover::before, .pt-dark .bp-table-header.bp-table-header-active::before {
      background-color: #394b59; }
  .bp-table-header.bp-table-header-selected::before {
    background-image: linear-gradient(90deg, rgba(19, 124, 189, 0.1), rgba(19, 124, 189, 0.1)); }

.bp-table-th-menu {
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  position: absolute;
  top: 0;
  right: 6px;
  opacity: 0;
  background: none;
  cursor: pointer;
  width: 40px;
  height: 30px;
  text-align: right;
  pointer-events: all; }
  .bp-table-interaction-bar .bp-table-th-menu {
    right: 1px;
    width: 20px;
    height: 20px;
    text-align: center; }
    .bp-table-interaction-bar .bp-table-th-menu > span {
      vertical-align: top;
      line-height: 20px; }
  .bp-table-th-menu:hover [class*="pt-icon"] {
    color: #182026; }
    .pt-dark .bp-table-th-menu:hover [class*="pt-icon"] {
      color: #f5f8fa; }
  .bp-table-th-menu.pt-popover-open [class*="pt-icon"] {
    color: #137cbd; }
    .pt-dark .bp-table-th-menu.pt-popover-open [class*="pt-icon"] {
      color: #137cbd; }
  .bp-table-header:hover .bp-table-th-menu,
  .bp-table-header-active .bp-table-th-menu {
    opacity: 1;
    background-image: linear-gradient(90deg, rgba(225, 232, 237, 0) 0%, #e1e8ed 50%); }
    .pt-dark .bp-table-header:hover .bp-table-th-menu, .pt-dark
    .bp-table-header-active .bp-table-th-menu {
      background-image: linear-gradient(90deg, rgba(57, 75, 89, 0) 0%, #394b59 50%); }
  .bp-table-header.bp-table-header-selected .bp-table-th-menu {
    background-image: linear-gradient(90deg, rgba(204, 221, 232, 0) 0%, #ccdde8 50%); }
    .pt-dark .bp-table-header.bp-table-header-selected .bp-table-th-menu {
      background-image: linear-gradient(90deg, rgba(53, 80, 99, 0) 0%, #355063 50%); }

.bp-table-thead {
  display: block;
  white-space: nowrap; }

.bp-table-column-header-tr {
  display: -webkit-flex;
  display: flex; }
  .bp-table-column-header-tr .bp-table-header {
    -webkit-flex: 0 0;
            flex: 0 0; }

.bp-table-column-headers .bp-table-interaction-bar {
  position: relative;
  cursor: s-resize;
  height: 20px; }

.bp-table-column-headers .bp-table-header {
  min-height: 30px;
  vertical-align: top;
  line-height: 30px; }

.bp-table-row-headers .bp-table-header {
  display: block;
  min-width: 30px;
  line-height: 20px; }

.bp-table-column-name-text,
.bp-table-row-name-text {
  -webkit-flex-grow: 1;
          flex-grow: 1;
  pointer-events: none; }

.bp-table-truncated-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.bp-table-column-name-text {
  padding: 0 10px; }

.bp-table-row-name-text {
  padding: 0 5px; }

.bp-table-editable-name {
  display: block;
  pointer-events: all; }
  .bp-table-editable-name.pt-editable-text::before {
    top: -1px;
    right: -10px;
    bottom: 0;
    left: -11px;
    border-radius: 0; }
  .bp-table-editable-name.pt-editable-text:not(.pt-editable-editing)::before {
    box-shadow: none; }
  .bp-table-editable-name.pt-editable-text.pt-editable-editing::before {
    top: 0px;
    right: -9px;
    bottom: 1px;
    left: -10px;
    cursor: text; }
  .bp-table-column-name .bp-table-editable-name.pt-editable-text::before {
    bottom: -1px; }
  .bp-table-column-name .bp-table-editable-name.pt-editable-text.pt-editable-editing::before {
    bottom: 0; }

.bp-table-column-name-text .bp-table-editable-name input {
  height: 30px; }

.bp-table-column-name {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  text-align: left;
  font-size: 14px; }

.bp-table-row-name {
  display: block;
  text-align: right;
  font-size: 12px; }

.bp-table-header-content {
  white-space: normal;
  font-size: 14px; }
  .bp-table-header-content .is-searchable:not(.is-focused) > .Select-control {
    box-shadow: none;
    background: none; }
  .bp-table-header-content .is-searchable > .Select-control {
    border-radius: 0; }
    .bp-table-header-content .is-searchable > .Select-control .Select-value {
      cursor: pointer; }
  .bp-table-header-content .Select-value {
    right: -1px; }

.bp-table-selection-enabled.bp-table-column-headers .bp-table-header {
  cursor: s-resize; }

.bp-table-selection-enabled.bp-table-row-headers .bp-table-header {
  cursor: e-resize; }

.bp-table-selection-enabled .pt-editable-text::before,
.bp-table-selection-enabled .pt-editable-content {
  cursor: cell; }

.bp-table-resize-handle-target {
  position: absolute;
  opacity: 0;
  z-index: 20;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .bp-table-resize-handle-target:hover, .bp-table-resize-handle-target.bp-table-dragging {
    opacity: 1; }
  .bp-table-resize-handle-target.bp-table-resize-vertical {
    top: 0;
    right: -5px;
    bottom: -1px;
    cursor: ew-resize;
    width: 10px; }
  .bp-table-resize-handle-target.bp-table-resize-horizontal {
    right: -1px;
    bottom: -2.5px;
    left: 0;
    cursor: ns-resize;
    height: 5px; }

.bp-table-resize-handle {
  position: absolute;
  z-index: 20;
  background-color: #137cbd; }
  .bp-table-resize-handle.bp-table-dragging {
    background-color: #137cbd; }

.bp-table-resize-vertical .bp-table-resize-handle {
  top: 0;
  bottom: 0;
  left: 3px;
  width: 3px; }

.bp-table-resize-horizontal .bp-table-resize-handle {
  top: 0.5px;
  right: 0;
  left: 0;
  height: 3px; }

.bp-table-resize-guides .bp-table-vertical-guide {
  box-shadow: -3px 0 #137cbd;
  width: 3px; }

.bp-table-resize-guides .bp-table-horizontal-guide {
  box-shadow: -3px #137cbd;
  height: 3px; }

.bp-table-overlay-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none; }

.bp-table-overlay {
  position: absolute; }

.bp-table-region {
  border: 1px solid #8a9ba8;
  background-color: rgba(138, 155, 168, 0.1); }

.bp-table-selection-region {
  border: 1px solid #137cbd;
  background-color: rgba(19, 124, 189, 0.1); }
  .bp-table-column-headers .bp-table-selection-region {
    background-color: transparent; }
  .bp-table-row-headers .bp-table-selection-region {
    background-color: transparent; }

.bp-table-column-headers .bp-table-region {
  border-bottom: none; }

.bp-table-row-headers .bp-table-region {
  border-right: none; }

.bp-table-vertical-guide {
  top: 0;
  bottom: 0; }

.bp-table-horizontal-guide {
  right: 0;
  left: 0; }

.bp-table-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  background-color: #f5f8fa;
  max-width: 100%;
  height: 100%;
  min-height: 60px;
  max-height: 100%;
  overflow: hidden;
  will-change: transform; }
  .pt-dark .bp-table-container {
    background-color: #30404d; }

.bp-table-top-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  min-height: 0%; }

.bp-table-bottom-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
  min-height: 0%;
  color: #182026; }
  .pt-dark .bp-table-bottom-container {
    color: #f5f8fa; }

.bp-table-menu {
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  z-index: 13;
  background-color: #f5f8fa; }
  .pt-dark .bp-table-menu {
    background-color: #30404d; }

.bp-table-column-headers {
  display: block;
  position: relative;
  z-index: 11;
  background-color: #f5f8fa;
  color: #182026; }
  .pt-dark .bp-table-column-headers {
    background-color: #30404d;
    color: #f5f8fa; }

.bp-table-row-headers {
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  z-index: 12;
  background-color: #f5f8fa;
  color: #5c7080; }
  .pt-dark .bp-table-row-headers {
    background-color: #30404d;
    color: #bfccd6; }

.bp-table-body {
  -webkit-flex: 1 1 100%;
          flex: 1 1 100%;
  position: relative;
  z-index: 10;
  overflow: scroll; }
  .bp-table-body.bp-table-no-vertical-scroll {
    overflow-y: hidden; }
  .bp-table-body.bp-table-no-horizontal-scroll {
    overflow-x: hidden; }

.bp-table-body-scroll-client {
  position: relative; }

.bp-table-body-virtual-client {
  position: relative; }

.bp-table-cell-client {
  background: #ffffff; }
  .pt-dark .bp-table-cell-client {
    background: #293742; }

.bp-table-tbody {
  display: block;
  white-space: nowrap; }

.bp-table-cell {
  display: inline-block; }

.bp-table-no-layout {
  display: inline-block;
  position: absolute; }

.bp-table-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 100px;
  height: 100px;
  overflow: scroll; }

/*# sourceMappingURL=table.css.map */
