@import './common'
@import './pure-grid.css'

.table
  width 100%
  border-collapse collapse
  border-spacing 0
  thead
    border-top 1px solid $COLOR_GRAY
    border-bottom 1px solid $COLOR_GRAY
    background-color #f1f9fd
  th, td
    padding 10px 15px
    border none
    text-align center
  td.switch-wrapper
    position relative
    .pt-switch
      position absolute
      top 50%
      left 50%
      margin-top -5px
      margin-left -15px 
  tbody tr
    &:nth-child(even)
      background-color #fff
    &:nth-child(odd)
      background-color #f4f8fb
.dropdown-selector
  margin-bottom 15px
  position relative
  .clear
    position absolute
    right 0
    line-height 30px
    z-index 1
    width 20px
    color $COLOR_GRAY
    &:hover
      color $COLOR_BLUE
  .pt-popover-target
    width 100%
    display block
    .pt-input
      width 100%

.columns
  .column
    background-color #fff
    border 1px solid $COLOR_GRAY
    border-radius 3px
    position relative
    h4
      margin 0
      line-height 32px
      font-size 14px
      text-indent 1em
      font-weight normal
      border-bottom 1px solid $COLOR_GRAY
      background-color $COLOR_WHITE
      a
        text-indent 0
        padding 0 10px
        text-decoration none
        color $COLOR_LIGHT_BLACK
        &:hover
          color $COLOR_BLUE
    p
      font-size 13px
      color $COLOR_LIGHT_BLACK
      margin 20px